
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1{
    position: relative;
    top: -30px;
    left: 30px;
    font-size: 20px;
    color: rgb(37, 37, 199);
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-size: 15px;
}

.top{
    height: 150px;
    width: 350px;
    border: 1px solid #000;
    background-color: blue;
}

.bottom{
    height: 400px;
    width: 350px;
    border: 1px solid #000;
    background-color: white;
    
}

nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

ul{
    list-style-type: none;
}

li{
    margin: 10px;
    padding: 5px;

}

nav button{
    background-color: rgb(92, 194, 92);
    color: #fff;
    width: 100%;
    padding: 0.5em;
    
}

nav input{
    width: 100%;
    border-color: rgba(251, 249, 249, 0.866);
    color: rgba(255, 255, 255, 0.74);
    padding: 0.5em;


}

